@import '@quotum/tailwindcss/tailwindcss.css';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 flex place-items-center min-h-screen;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

a {
  @apply font-medium no-underline;
  color: #646cff;
}

a:hover {
  color: #535bf2;
}

h1 {
  @apply text-5xl leading-tight;
}

button {
  @apply rounded-lg border border-transparent px-5 py-2.5 text-base font-medium font-inherit cursor-pointer transition-colors duration-250;
  background-color: #1a1a1a;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  @apply max-w-screen-xl mx-auto p-8 text-center;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  
  a:hover {
    color: #747bff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}
